<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <title>Listing page</title>
</head>
<body>

    <table border = "2px">
        <tr> 
            <th> Name of the File </th>
            <th> Is printed </th>
            <th> Actions </th>
         </tr>

    <% for(var i =0; i < message.length; i++) {%>
        <tr id = "rowID<%= i %>">
            <td class = "row-data" style="display: none">new ObjectId("<%= message[i]._id %>")</td>  
            <td class = "row-data" style="display: none"><%= message[i].pdf_base64 %></td>
            <td class = "row-data"><%= message[i].name %></td>  
            <td class = "row-data" ><%= message[i].isPrinted %></td>
            <td> <button name = "print" value = "<%= i %>" onclick="sendDataToPython(this.value)" >Print</td>
        </tr>
    <%} %>
    </table>    
</body>
</html>

<script> 
        function sendDataToPython(i){
            var rowId = parseInt(i)
            var data = document.getElementById("rowID"+rowId).querySelectorAll(".row-data");
            var obj = {"_id": data[0].innerHTML, "pdf_base64": data[1].innerHTML, "name": data[2].innerHTML, "isPrinted": data[3].innerHTML}
            $.ajax({
                url: '/communicate',
                type : 'POST',
                dataType : "application/json",
                data: {'data': JSON.stringify(obj)},
                success: function (res) {
                    console.log(res)
                },
                error: function(error){
                    console.log('error',error)
                },
            });
        }
</script>
